# Dependencies
node_modules

# Nuxt build output
.nuxt
.output
.data
dist

# Cloudflare generated deployment and local state
.wrangler

# Environment
.env
.env.*
.dev.vars
!.env.example

# Test / coverage
coverage

# Logs
*.log
logs

# OS files
.DS_Store

*.jsonc
.npmrc
